<!DOCTYPE html>
<html>
<head>
  <title>Read Items</title>
</head>
<body>
<h1>Hello World</h1>
  <table border = "1">
    <thead>
      <th><b>Name</b></th>
      <th><b>Value</b></th>
      <th><b>Action</b></th>
    </thead>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.value %></td>
      <td>
        <form action="/destroy" method="POST">
          <input type="hidden" name="id" value="<%= item.id %>">
          <input type="submit" value="delete">
        </form>
      </td>
    </tr>
    <% end %>
  </table>
  <br>
  <br>
  <a href="/">CREATE</a> | READ
</body>
<br>
<br>
<footer>
<small>&copy; Copyright 2023, Wishpond, LLC.</small>
</footer>
</html>
